input[type=radio] {
    display: none;
}

.starsContainer {
    margin-top: 10px;
    display: flex;
}

@media screen and (max-width: 1024px) {
    .starsContainer {
        margin-top: 9px;
    }

    svg {
        height: 13px;
        width: 13px;
    }
}

@media screen and (max-width: 768px) {
    .starsContainer {
        margin-top: 7px;
    }

    svg {
        height: 11px;
        width: 11px;
    }
}

@media screen and (max-width: 540px) {
    .starsContainer {
        margin-top: 5px;
        display: flex;
    }

    svg {
        height: 10px;
        width: 10px;
    }
}