.cartElement {
    margin-top: 20px;
}

.container {
    max-width: 1037px;
    margin: 0 auto;
}

.hr {
    border: 1px solid #E0E0E0;
    margin-top: 13.5px;
    border-radius: 1px;
}

@media screen and (max-width: 1200px) {
    .container {
        margin: 0 auto;
        padding: 0 60px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 0 20px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        margin: 0 auto;
        padding: 0 20px;
    }
}

@media screen and (max-width: 400px) {
    .container {
        margin: 0 auto;
        padding: 0 15px;
    }
}