@import "src/scss/mixins";
@import "src/scss/fonts";
@import "src/scss/colors";

.cartElement {
    margin-top: 20px;
}

.container {
    max-width: 1037px;
    margin: 0 auto;
}

.hr {
    border: 1px solid #E0E0E0;
    margin-top: 13.5px;
    border-radius: 1px;
}

.button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border: none;
    text-align: center;
    @include setFont(16px, normal, $font, 20px, 600, $white, 0.1em);
    height: 40px;
    width: 200px;
    border-radius: 8px;
    background-color: $orange;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .container {
        margin: 0 auto;
        padding: 0 60px;
    }

    .button {
        height: 36px;
        width: 180px;
        @include setFont(15px, normal, $font, 18px, 500, $white, 0.1em);
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .button {
        height: 30px;
        width: 150px;
        @include setFont(13.33px, normal, $font, 15px, 500, $white, 0.1em);
    }
}

@media screen and (max-width: 480px) {
    .container {
        margin: 0 auto;
        padding: 0 20px;
    }

    .button {
        height: 28px;
        width: 135px;
        @include setFont(12px, normal, $font, 14px, 500, $white, 0.1em);
    }
}

@media screen and (max-width: 400px) {
    .container {
        margin: 0 auto;
        padding: 0 15px;
    }

    .button {
        height: 26px;
        width: 120px;
        @include setFont(10px, normal, $font, 12px, 500, $white, 0.1em);
    }
}