@import "src/scss/fonts";

.form {}

.submit {
    display: block;
    height: 50px;
    min-width: 412px;
    color: #FFFFFF;
    background-color: #FFC107;
    border: none;
    font-family: $font;
    padding-left: 10px;
    font-size: 16px;
}

input {
    margin-top: 10px;
    font-size: 16px;
}