@import "../../../scss/colors";
@import "../../../scss/fonts";
@import "../../../scss/mixins";

.button {
    border: none;
    text-align: center;
    @include setFont(12px, normal, $font, 14px, 600, $white, 0.1em);
    height: 30px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.medium_size {
    height: 40px;
    width: 200px;
}

.width_narrow {
    width: 60px;
}

.width_default {
    width: 100px;
}

.background_red {
    background-color: $red;
}

.background_black {
    background-color: $black;
}

.background_default {
    background-color: $white;
}

.background_orange {
    background-color: $orange;
}

.background_white {
    background-color: $white;
}

.medium_radius {
    border-radius: 20px;
}

.medium_font {
    font-size: 16px;
}

.color_default {
    color: $black;
}

.color_white {
    color: $white;
}

.color_black {
    color: $black;
}

// button {
//     background: $red !important;
//     border: none;
//     text-align: center;
//     @include setFont(12px, normal, $font, 14px, 600, $white, 0.1em);
//     width: 100px;
//     height: 30px;
//     cursor: pointer;
// }