@import "../../scss/mixins";
@import "../../scss//fonts";
@import "../../scss/colors";

.wrapper {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);

    .container {
        max-width: 1320px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1.4fr 3fr 1fr 1fr;
        grid-template-rows: 80px;
        grid-template-areas: "logo ul location icons";
        align-items: center;
        column-gap: 20px;

        .logo {
            display: flex;
            align-items: center;

            .logoImage {
                width: 44px;
                height: 44px;
            }

            .logoText {
                margin-left: 20px;
                @include setFont(36px, normal, $font, 42px, 400, $black, 0.1em);
            }
        }

        .location {
            display: flex;
            align-items: center;
            justify-self: end;

            .locationImage {
                width: 18px;
                height: 18px;
            }

            .locationText {
                margin-left: 5px;
                @include setFont(18px, normal, $font, 22px, 400, $black, 0.1em);
            }
        }

        .ul {
            display: flex;
            list-style-type: none;

            > li {
                font-family: $font;

                > a {
                    text-decoration: none;
                    font-size: 18px;
                    line-height: 22px;
                    letter-spacing: 0.1em;
                    color: $black;
                    color: $black;
                }
            }

            li:nth-child(2) {
                margin-left: 41px;
            }
        }

        .icons {
            display: flex;
            flex-direction: row;

            .user,
            .cart {
                width: 44px;
                height: 44px;
            }

            .cart {
                margin-left: 20px;
            }
        }
    }
}
