.ul {
    display: flex;
    list-style-type: none;

    li {
        font-family: 'Montserrat';
        font-size: 18px;
    
        a {
            text-decoration: none;
            color: #101010;
        }
    }

    li:nth-child(2) {
        margin-left: 41px;
    }
}